{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://use.typekit.net/wap5dav.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="container mx-auto my-12 font-medium tracking-widest">
                <h1>
                        <a href="/home">Me</a>
                </h1>
                <nav>
                        <a href="/notes">Notes</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="container mx-auto">
                <p>It works!</p>
            </div>
                
        </main>
        
    </body>
</html>
